# Maven projects
/ampl-export/target/
/entsoe-case-repository/target
/case-projector/target
/case-repository/target/
/distribution/target
/dymola-integration/target/
/EU2Mod_MB/target/
/eurostag-ech-export/target/
/eurostag-integration/target/
/eurostag-network/target/
/eurostag-step-up-transformer/target/
/file-system-rules-db/target/
/fpf-integration/target/
/histodb-client/target/
/histodb-server/target/
/iidm-actions-contingencies-xml-client/target/
/iidm-ddb/iidm-ddb-ear/target/
/iidm-ddb/iidm-ddb-ejb-remote-client-wildfly/target/
/iidm-ddb/iidm-ddb-ejb/target/
/iidm-ddb/iidm-ddb-eurostag-import-export/target/
/iidm-ddb/iidm-ddb-eurostag-modelica-converter/target/
/iidm-ddb/iidm-ddb-modelica-import-export/target/
/iidm-ddb/iidm-ddb-psse-import-export/target/
/iidm-ddb/iidm-ddb-web/target/
/iidm-ddb/iidm-ddb-example-ejb-client/target/
/iidm-ddb/target/
/mcla-integration/target/
/mmap-offline-db/target/
/modelica-events-adder/target/
/modelica-export/target
/modules/target/
/network-merge/target/
/offline-mpi/target/
/offline-server/target/
/offline-workflow/target/
/online-mpi/target/
/online-rest-api/target
/online-server/target/
/online-workflow/target/
/pclfsim-integration/target/
/sampling-integration/target/
/security-analysis-ws/target/
/target/
/uncertainties-analysis/target/
/wca-integration/target/

# CMake projects
/build/
/thirdparty/build/

# IntelliJ
/.idea
*.iml

# Matlab projects
/dymola-adapter/bin/
/dynamic-indexes/*/bin/

# iPST compilation settings
install.cfg
.project
.classpath
.settings

