<?xml version="1.0" encoding="UTF-8"?>
<config>
  <componentDefaultConfig>
    <ContingenciesProviderFactory>eu.itesla_project.contingency.mock.ContingenciesProviderFactoryMock</ContingenciesProviderFactory>
    <SecurityAnalysisFactory>com.rte_france.itesla.hades2.Hades2SecurityAnalysisFactory</SecurityAnalysisFactory>
  </componentDefaultConfig>
  <import-export-parameters-default-value>
    <XIIDM_throwExceptionIfExtensionNotFound>false</XIIDM_throwExceptionIfExtensionNotFound>
  </import-export-parameters-default-value>
  <hades2>
    <homeDir>/home/ansible/hades2LF</homeDir>
    <debug>false</debug>
  </hades2>
</config>