CREATE DATABASE IF NOT EXISTS itesladdb CHARACTER SET utf8 COLLATE utf8_general_ci;
GRANT ALL ON itesladdb.* TO 'itesla'@'localhost' IDENTIFIED BY 'itesla';
GRANT ALL ON itesladdb.* TO 'itesla'@'%' IDENTIFIED BY 'itesla';