<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="com.powsybl" level="OFF" />
    <logger name="eu.itesla_project.histodb" level="OFF" />

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
