# file: group_vars/ipst_hosts
---

## ipst_environment - (default is not set)
#ipst_environment:
#    http_proxy: http://proxyhttp.mydomain.com:port
#    https_proxy: https://proxyhttps.mydomain.com:port

## install_prerequisites - (default is True)
install_prerequisites: True

## install_MCR - (Matlab Compiler Runtime, default is False)
install_MCR: False

## sources_path - (default is {{ ansible_env.HOME }}/ipst_ansible/ipst  )
sources_path: "{{ ansible_env.HOME }}/ipst_ansible/ipst"

## thirdparty_path - (default is {{ ansible_env.HOME }}/ipst_ansible/thirdparty )
thirdparty_path: "{{ ansible_env.HOME }}/ipst_ansible/thirdparty"

## install_path - (default is {{ ansible_env.HOME }}/itesla )
install_path: "{{ ansible_env.HOME }}/itesla"

## maven_proxies - (default is not set )
#maven_proxies:
# - {host: "proxyhttps.mydomain.com", port: "443", username: "username", password: "password", protocol: "https"}